Package: development
Version: 6.4.3-2.3.3
Platform: GNU/Linux 2.6.32-504.8.1.el6.x86_64
Maintainer: dugas
BuildInfo: Built on st2.sca.uqam.ca
Description: latest versions of the r.diag diagnostic package and of the cdf2rpn converter
