Package: development
Version: 6.4.1-2.3.1
Platform: GNU/Linux 2.6.32-504.8.1.el6.x86_64
Maintainer: Bernard Dugas
BuildInfo: Built/export on st2.sca.uqam.ca
Description: Versions 6.4.1 of the r.diag diagnostic package and 2.3.1 cdf2rpn converter
